@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main {
    display: grid;
    grid-template-rows: 1fr 10fr 0.2fr;
    
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Header */
#header {
    display: grid;
    place-items: end center;
    padding: 1rem;
}


/* Application section */
#app {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) 5fr;
    place-self: center;
    border-radius: 5px;

    width: 90%;
    height: 90%;
    padding: 1rem;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Sidebar of App */

#sidebar {
    display: grid;
    place-content: start;
    border-right: 1px solid gray;
}

#sidebar > div {
    display: grid;
    grid-auto-flow: row;
    
    gap: 1rem;
    margin: 1rem;
}

#sidebar > div > div {
    width: 100%;
    padding: 0.5rem 3rem;
}

#sidebar > div > div:hover {
    border-radius: 5px;
    background-color: lightgray;
}

hr {
    margin: 1rem;
}



/* Main contents of App */
#main-content {
    display: grid;
    place-items: start;
    overflow-y: scroll;
}

#main-content button {
    place-self: end;
    margin: 1rem;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background: rgb(60, 184, 184);
}

#todos {
    display: grid;
    justify-self: center;
   
    
    border: 1px solid red;
    width: 90%;
    
    gap: 1rem;
    margin: 1rem;
}

.card {
    display: grid;
    border: 1px solid black;

    width: 100%;

    place-items: center;
    padding: 1rem;
}




/* Footer */
#footer {
    text-align: center;
    background-color: aquamarine;
}
